<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title>Book ISBN</title>
<link href="<%= url('/css/main.css') %>" rel= "stylesheet" type="text/css" />
</head>
<body>
Welcome to the Book Club
<br>
<img alt="book" src="/img/stach.png" width="100" height="100" />
<br>
What book do you want to see?
<br>
<br>
<form method="post" action="book_choice">
<input type="radio" name="bname" value="Harry Potter Chamber of Secretes"> Harry Potter Chamber of Secrets
<br>
<input type="radio" name="bname" value="Wizard of Oz"> Wizard of Oz
<br>
<input type="radio" name="bname" value="Jaws"> Jaws
<br>
<input type="radio" name="bname" value="Adventures of Tom Sawer"> Adventures of Tom Sawer
<br>
<input type="radio" name="bname" value="Cat in the Hat"> Cat in the Hat
<br>
<br>
<input type="submit" value="Get Book">
</form>
</center>
</body>

<script>
    window.onload=getOrderDate('date');
</script>