<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title>Book ISBN</title>
<link href="<%= url('/css/main.css') %>" rel= "stylesheet" type="text/css" />
</head>
<body>
The book you are looking for is:
<br>
<%= bname %>
<br>
<% location = picture(bname) %>
<img src = <%= location %>  style="width: 10%" align="middle";><br>
<% isbn_num = number(isbn_num) %>
ISBN: <%= isbn_num %>
<br>
Try another book
<a href='//localhost:4567'>Go!</a>
</center>
</body>
<script>
window.onload=getOrderDate('date');
</script>